<div class="col-sm-6 hidden-xs">
  <div class="introduce">
    <div class="row">
      <div class="icon">
        <img src='https://fullstack.xinshengdaxue.com/images/registration-1.png'>
      </div>
      <div class="text">
        <h2>用科学的方法轻松学编程</h2>
        <p>
          学编程和玩游戏一样开心
        </p>
      </div>
    </div>
    <div class="row">
      <div class="icon">
        <img src='https://fullstack.xinshengdaxue.com/images/registration-2.png'>
      </div>
      <div class="text">
        <h2>职业程序员即时在线答疑</h2>
        <p>
          遇见Bug不再束手无策
        </p>
      </div>
    </div>
    <div class="row">
      <div class="icon">
        <img src='https://fullstack.xinshengdaxue.com/images/registration-3.png'>
      </div>
      <div class="text">
        <h2>十年从业经验 大牛倾心分享</h2>
        <p>
          在成长的道路上，拉你一把
        </p>
      </div>
    </div>
  </div>
</div>
