<div class="col-sm-6 hidden-xs">
  <div class="introduce">
    <div class="row">
      <div class="icon">
        <img src='/images/fa-globe.png'>
      </div>
      <div class="text">
        <h2>世界那么大</h2>
        <p>
          不想去看看？
        </p>
      </div>
    </div>
    <div class="row">
      <div class="icon">
        <img src='/images/fa-users.png'>
      </div>
      <div class="text">
        <h2>职业那么多</h2>
        <p>
          不想再试试？
        </p>
      </div>
    </div>
    <div class="row">
      <div class="icon">
        <img src='/images/fa-grav.png'>
      </div>
      <div class="text">
        <h2>人生那么长</h2>
        <p>
          不想更精彩？
        </p>
      </div>
    </div>
  </div>
</div>
