<div class="jumbotron">
  <h1 data-animation="bounceIn" class="title">不满意
    <br>现在的生活？</h1>
  <p class="slogan">海阔凭鱼跃，天高任鸟飞
    <br>
    每一个努力的人都有选择的自由
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上行动</a></p>
</div>
<!-- <h1 data-animation="animated flipInX" class="">奇妙工作网</h1> -->
<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://icons.iconarchive.com/icons/pixelkit/gentle-edges/128/Location-Map-icon.png" alt="search" class="img-thhumbnail">
          <div class="caption">
            <h3>广州中新知识城</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://iconshow.me/media/images/Mixed/Free-Flat-UI-Icons/png/128/mail-24-128.png" alt="bid"  class="img-thhumbnail">
          <div class="caption">
            <h3>lifechoice_hr@gmail.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://image.flaticon.com/icons/png/128/21/21519.png" alt="heart" class="img-thhumbnail">
          <div class="caption">
            <h3>020-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
