<div class="jumbotron">
  <h1 class="title animated bounceInDown">不满意
    <br><span class="animated bounceInDown">现在的生活？</span></h1>
  <h3 class="slogan animated zoomInDown">海阔凭鱼跃，天高任鸟飞
    <br>
    每一个努力的人都有选择的自由
  </h3>
    <p class="lead animated fadeIn"><a class="btn btn-lg btn-danger animated flash" href="/jobs">马上行动</a></p>
</div>

<section class="row city">
  <div class="section-content">
    <div class="short-line"></div>
    <h2 class="section-title"> &#8194;&#8194;&#8194;&#8194;你想住哪个城市？</h2>
    <ul class="hjc-ul">
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/ar5mv.jpg" alt="">
          </div>
        </a>
        <div class="title">北京</div>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/ddcog.jpg" alt="">
          </div>
        </a>
        <div class="title">上海</div>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/kgdxv.jpg" alt="">
          </div>
          <div class="title">广州</div>
        </a>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://cdn.worktile.com/images/index/project-0.png" alt="">
          </div>
          <div class="title">查看所有城市</div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="row industry">
  <div class="section-content">
    <div class="short-line"></div>
    <h2 class="section-title"> &#8194;&#8194;&#8194;&#8194;你想做什么工作？</h2>
    <ul class="hjc-ul">
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/ar5mv.jpg" alt="">
          </div>
          <div class="title">工程师</div>
        </a>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/ddcog.jpg" alt="">
          </div>
          <div class="title">律师</div>
        </a>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/kgdxv.jpg" alt="">
          </div>
          <div class="title">设计师</div>
        </a>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://cdn.worktile.com/images/index/project-0.png" alt="">
          </div>
          <div class="title">查看所有职业</div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="row city">
  <div class="section-content">
    <div class="short-line"></div>
    <h2 class="section-title">&#8194;&#8194;&#8194;&#8194;你想去哪个平台？</h2>
    <ul class="hjc-ul">
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/ar5mv.jpg" alt="">
          </div>
          <div class="title">腾讯</div>
        </a>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/ddcog.jpg" alt="">
          </div>
          <div class="title">阿里巴巴</div>
        </a>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/kgdxv.jpg" alt="">
          </div>
          <div class="title">百度</div>
        </a>
      </li>
      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://cdn.worktile.com/images/index/project-0.png" alt="">
          </div>
          <div class="title">查看所有公司</div>
        </a>
      </li>
    </ul>
  </div>
</section>
