<footer class="container-fluid" style="margin-top: 100px;">
  <div class="text-center">
    <br><br>
     <p class="text-center">Copyright ©2017 LifeChoice
        <br>Design by
        <a href="http://freedomsky.logdown.com" target=_new>freedomsky</a>
     </p>
     <a href="#" class="fa fa-weibo" target="_blank"></a>
     <a href="#" class="fa fa-weixin" target="_blank"></a>
     <a href="https://www.facebook.com/profile.php?id=100000883175693" class="fa fa-facebook" target="_blank"></a>
     <a href="https://twitter.com/Hanwei1989" class="fa fa-twitter" target="_blank"></a>
     <a href="mailto:example@mail.com" class="fa fa-envelope"></a>
     </div>
     <br><br>
</footer>
